@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Login/_LayoutPageError.cshtml";
}

<!-- content -->
<section class="w3l-error-block">
    <div class="mainw3 form">
        <div class="subscribe wrapper">
            <div class="subscribe-w3lsbottom text-center">
                <div class="w3l-page">
                    Oops!
                </div>
                <h6>It looks like you have taken a wrong turn.</h6>
                <h2>
                    404
                    <p class="page-mk">page not found</p>
                </h2>
                <a class="play-icon popup-with-zoom-anim btn" href="../inscription/inscription">
                    Join Us
                </a>
                <a class="theme-button btn" href="../Login/Login">
                    LOG IN
                </a>
            </div>
           
        </div>
    </div>


   
</section>



