
@{
    ViewBag.Title = "inscription";
    Layout = "~/Views/App/_LayoutPage1.cshtml";
}
<!--/start-main-->
<div class="main">
    <div class="wrap">
        <!--/start-topo-one-->
        <div class="top-one">
            <!--/start-login-->
            <div class="login-one">
                <div class="create-account">
                    <div class="login-head">
                        <h2>Create Account</h2>
                        <span class="line">
                            <span class="sub-line"></span>
                        </span>

                    </div>
                    <form action="Create" method="post">
                        <p>First Name <lable> *</lable></p>
                        <input type="text" name="nom">
                        <p>Last Name <lable> *</lable></p>
                        <input type="text" name="prenom">
                        <p>Adress <lable> *</lable></p>
                        <input type="text" name="adress">
                        <p>Login <lable> *</lable></p>
                        <input type="text" name="login">
                        <p>password <lable> *</lable></p>
                        <input type="password" name="password">

                        <div class="sign-up">
                            <a href="../Login/Login">Log on here!</a>
                            <input type="submit" value="Register">

                        </div>

                    </form>



                    </div>
</div>
</div>
</div>
</div>
