
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/App/_LayoutPage1.cshtml";
}

<!-- /login-section -->

<section class="w3l-forms-23">
    <div class="forms23-block-hny">
        <div class="wrapper">
            <h1>Application Store</h1>
            <!-- if logo is image enable this
                <a class="logo" href="index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a>
            -->
            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one">Hamza ou el Ghiwach</h6>
                        <div class="speci-login first-look">
                            <img src="images/user.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="bottom-content">
                        <form action="Verify" method="post">
                            <input type="text" name="login" class="input-form" placeholder="Your login"
                                   required="required" />
                            <input type="password" name="password" class="input-form"
                                   placeholder="Your Password" required="required" />
                            <button type="submit" class="loginhny-btn btn">Login</button>
                        </form>
                        <p>Not a member yet? <a href="../inscription/inscription">Join Now!</a></p>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- //login-section -->
